<div class="breadcrumb-card">
    <h5 class="mb-0 text-black">{{ pageTitle }}</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line" aria-hidden="true"></i>
                Inicio
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            {{ currentLabel }}
        </li>
    </ol>
</div>
