<div class="forgot-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="daxa-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
                [class.rtl-enabled]="themeService.isRTLEnabled()"
            >
                <div class="title text-center">
                    <h3>
                        ¿Olvidó su contraseña?
                    </h3>
                    <p class="ml-auto mr-auto text-black">
                        Si olvidó su contraseña o necesita recuperar el acceso, contacte con
                        <strong>Manuel Corrales</strong>.
                    </p>
                </div>
                <div class="text-center back-to-sign-in">
                    <a mat-button routerLink="/auth" class="btn">
                        <i class="ri-arrow-left-s-line"></i>
                        Volver a iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
